# Directories
**/.vs/
**/bin/
!vendor/bin/
**/bin-int/
**/peda-session*

# Files
*.user
**/*.TMP
**/*.xcodeproj
**/*.xcworkspace

**/.DS_Store

#Hazel Files

**/imgui.ini
**/logs/
**/*.hzp.json


#MSVC
**/*.sln
**/*.vcxproj
**/*.vcxproj.user
**/*.vcxproj.filters

#make
**/Makefile
**/.project
**/.workspace
**/Makefile
**/*.make

**/.gdb_history

#Eclipse
**/.cproject
.settings/
